<section class="projectsSlider">
  <div class="projectsSlider__titleContainer font-M">
    <span class="font-underline">
      {{ post.meta('projectsslider_title') }}
    </span>
  </div>

  <div class="projectsSlider__slider" data-flickity='{ "cellAlign": "center", "contain": true, "pageDots" :false, "wrapAround" : true, "imagesLoaded": true }'>
    {% for project in post.meta('projectsslider_projects') %}
      {% if project.link %}
        <a class="projectsSlider__slide" href="{{ project.link }}" target="_blank">
          {% include "components/image.twig" with {
            sizes: [200, 400, 800],
            image: project.image
          } %}
          <div class="projectsSlider__linkIcon">
            <img src="{{ site.theme.link }}/static/icons/external-link.svg" alt="">
          </div>
        </a>
      {% else %}
      <div class="projectsSlider__slide">
        {% include "components/image.twig" with {
          sizes: [200, 400, 800],
          image: project.image
        } %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>