{% extends "base.twig" %} {% block content %}
<div class="content-wrapper">
  {% include "./modules/homeHero.twig" %}
  {% include "./modules/homeIntroduction.twig" %}
  {% include "./modules/logoOverview.twig" %}
  {% include "./modules/blockText.twig" %}
  {% include "./modules/projectsSlider.twig" %}
  {% include "./modules/videosOverview.twig" %}
  {% include "./modules/blockCta.twig" %}
</div>
{% endblock %}
