@use "../globalStyles/_init" as *;

.button {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  transition: all 0.2s $easeOutExtra;
  border: 0.1rem solid $maincolor;
  border-radius: 9rem;
  background-color: white;
  text-transform: uppercase;
  
  &:hover {
    background-color: $maincolor;
    color: white;
  }
}