@use "../globalStyles/_init" as *;

.homeIntroduction {
  margin: 8rem 0;
  @include grid-template;
  
  @include media($l) {
    margin: 10rem 0 12rem 0;
  }
  
  &__textContainer {
    
    grid-column: main;
    @include media($sm) {
      grid-column: 2/-3;

      padding-left: 6rem;
      border-left: 0.1rem solid $ridge;
    }
    
    @include media($m) {
      grid-column: 3/-4;
    }
    
    @include media($l) {
      grid-column: 3/-9;
    }
  }

  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__buttonContainer {
    display: flex;
    margin-top: 2.5rem;
  }
}