@use "../globalStyles/_init" as *;

.homeHero {
  position: relative;
  padding-top: 10rem;
  @include grid-template;

  @include media($sm) {
    padding-top: 12rem;
  }

  &:before {
    content: "";
    background-color: $lynx;
    height: calc(100% - 12rem);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include media($sm) {
      height: calc(100% - 8rem);
    }
    
    @include media($l) {
      border-radius: 5rem;
      width: 140rem;
      margin-inline: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__titleContainer {
    grid-column: main;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
    align-self: center;
    max-width: 35rem;
    position: relative;
    @include media($sm, false) {
      order: 1;
    }
    
    @include media($sm) {
      max-width: 40rem;
      grid-column: -7/-2;
    }

    @include media($m) {
      grid-column: -7/-2;
    }

    @include media($l) {
      grid-column: -11/-3;
    }
  }

  &__imageContainer {
    grid-column: 3/-2;
    border-radius: 4.5rem;
    overflow: hidden;
    
    @include media($sm, false) {
      order: 2;
    }

    @include media($sm) {
      grid-column: left;
    }

    @include media($l) {

    }

    img {
      width: 100%;
    }
  }
}
