body {
	--scrollbarWidth: 0px;
	--ctaBarHeight: 0px;
	--viewportWidth: calc(100vw - var(--scrollbarWidth));

	// background: #fffdf7;

	&.noScroll {
		height: 100vh !important;
		overflow: hidden;
	}
}

// Last div in .mainContent
.mainContent {
	background-color: red;
	section:last-of-type {
		padding-bottom: 10rem;
	}
}

.pageWrapper {
	&:before {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}
	&:before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(38, 38, 38, 0.20);
		backdrop-filter: blur(10px);
		z-index: 8;
		opacity: 0;
		pointer-events: none;
	}
	&.blur{
		&:before {
			content: "";
			z-index: 8;
			opacity: 1;
			pointer-events: all;
		}
	}
}

img {
  display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

button {
  cursor: pointer;
}

dialog {
	margin: 0;
}

.sequencedTransitionDelay {
	@for $i from 1 through 20 {
		&:nth-of-type(#{$i}) {
			// transition-delay: $i * 0.07 + 0.07 + s;
			animation-delay: $i * 0.07 + s !important;
		}
	}
}

.sequencedTransitionDelay--waited {
	@for $i from 1 through 20 {
		&:nth-of-type(#{$i}) {
			// transition-delay: $i * 0.07 + 0.07 + s;
			animation-delay: $i * 0.07 + 0.1 + s !important;
		}
	}
}

.sequencedTransitionDelay--fast {
	@for $i from 1 through 20 {
		&:nth-of-type(#{$i}) {
			// transition-delay: $i * 0.07 + 0.07 + s;
			animation-delay: $i * 0.045 + s !important;
		}
	}
}
