// @font-face {
// 	font-family: 'TTNorms';
// 	src: url('../fonts/TT_Norms_Pro_Regular.woff2') format('woff2');
// 	font-weight: 400;
// 	font-stretch: normal;
//     font-display: fallback;
// }

// @font-face {
// 	font-family: 'TTNorms';
// 	src: url('../fonts/TT_Norms_Pro_Light.woff2') format('woff2');
// 	font-weight: 300;
// 	font-stretch: normal;
//     font-display: fallback;
// }

// @font-face {
// 	font-family: 'TTNorms';
// 	src: url('../fonts/TT_Norms_Pro_Bold.woff2') format('woff2');
// 	font-weight: 500;
// 	font-stretch: normal;
//     font-display: fallback;
// 	font-style: bold;
// }

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

html {
  font-size: 62.5%; /* 1.6rem = 16px */
}

/*

To set a maximum and minimum to our font size we use the clamp function: clamp(min, value, max)
Example: font-size: clamp(1.2rem, 2vw, 1.8rem); min 12 pixels and max 18 pixels

How to calculate the value: fontSize / windowWidth * 100
Example: 16px / 768 * 100 = 2.08vw
This means on a tablet with 768px the font size is 16 pixels big.

*/

body {
  font-family: "DM Sans" !important;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #040606;
  font-weight: 300;
}

.font-light {
  font-weight: 300;
}

.font-underline {
  border-bottom: 0.2rem solid #bd2020;
}

select,
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

strong {
  font-weight: 500;
}

.font-3XL {
  font-size: clamp(5.4rem, 7vw, 6.8rem);
  line-height: 1.1;
  font-weight: 500;
  font-family: "DM Serif Display" !important
}

.font-XXL {
  font-size: clamp(3rem, 3.9vw, 3.8rem);
  line-height: 1.1;
  font-weight: 500;
  // font-family: "DM Serif Display" !important;
}

.font-XL {
  font-size: 2.6rem;
  font-weight: 500;
  font-family: "DM Serif Display" !important;
}

.font-L {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "DM Serif Display" !important;
}

.font-M {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 300;
}

.font-S {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
}

.font-XS {
  font-size: 1.1rem;
  line-height: 1;
}

.font-XS--extra-spacing {
  @extend .font-XS;
  letter-spacing: 0.2rem;
}
